name: Release

on:
  push:
    tags:
      - v*.*.*

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  ghrelase:
    strategy:
      fail-fast: false
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Configure
        run: |
          ./bootstrap.sh
          ./configure  \
            --enable-developer-mode \
            GITCLIFF=: JUST=: TAPLO=: TYPOS=:\
            --without-{bash,fish,zsh}-completion-dir
          echo "VERSION=$(./build-aux/git-version-gen .tarball-version)" >> $GITHUB_ENV
      - name: Build source package
        run: |
          make dist
      - name: Publish Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            git-warp-time-${{ env.VERSION }}.zip
            git-warp-time-${{ env.VERSION }}.tar.zst
            git-warp-time-${{ env.VERSION }}.sha256.txt
